.productCount{
    position: absolute;
width: 235px;
height: 23px;
left: 24px;
top: 174px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;

color: #000000;
}