.productCount{

display: flex;
justify-content: space-around;

}
.pCount{
position: absolute;
width: 235px;
height: 23px;
left: 150px;
top: 180px;

font-family: Roboto;
line-height: 23px;
font-style: normal;
font-weight: bold;
font-size: 20px;  
   
text-transform: capitalize; 
    color:grey; 
 } 
.productStyling{
position: absolute;
width: 235px;
height: 23px;
left: 22px;
top: 180px;

font-family: Roboto;
line-height: 23px;
font-style: normal;
font-weight: bold;
font-size: 20px;  
   
text-transform: capitalize; 
}