.card{
    width:14rem;
  margin-top: 20px;
}
.heading-three{
    /* font-weight: 1rem; */
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: whitesmoke; 
}
p{
    margin-top: 10px;
}
.navbar{
    justify-content: space-around;
}
.productCount{
    margin-top: 20px;
}
.displayCard{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.fa{
   margin-left: 10px;

}
.installButton{
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    width:100px;
}
/* .shop{
    position: absolute;
    width: 32px;
    height: 16px;
    left: 545px;
    top: 27px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    
    color: #000000;
    
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
  color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
