.card{
    width:14rem;
    margin-top: 30px;
}
.heading-three{
    /* font-weight: 1rem; */
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: whitesmoke; 
}
p{
    margin-top: 10px;
}
.navbar{
    justify-content: space-around;
}
.productCount{
    margin-top: 20px;
}
.displayCard{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.fa{
   margin-left: 10px;

}